[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "rhtml"]
	path = rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "back-button"]
	path = back-button
	url = https://github.com/rolandwalker/back-button.git
[submodule "nav-flash"]
	path = nav-flash
	url = https://github.com/rolandwalker/nav-flash.git
[submodule "scala-mode"]
	path = scala-mode
	url = https://github.com/haxney/scala-mode.git
[submodule "smartparens"]
	path = smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "nyan-mode"]
	path = nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
